body {
  min-width: 1300px;
}
/*leftNav*/
#leftNav {
  display: none;
  width: 300px;
  height: 100%;
  background: #f2f2f2;
  float: left;
  /* border-right: 1px solid #E9E9E9; */
}
#leftNav .projectName {
  color: #fff;
  padding-left: 20px;
  height: 74px;
  line-height: 74px;
  font-size: 20px;
  font-weight: 600;
  background: url("../images/icon/leftnav_title.png") no-repeat;
  background-size: cover;
}
#leftNav .title {
  padding-left: 20px;
  color: #747474;
  background: #fff;
  height: 46px;
  line-height: 46px;
  font-size: 17px;
  font-weight: 600;
  border-bottom: 1px solid #f3f7ff;
}

#leftNav ul {
  width: 100%;
  list-style: none;
}
#leftNav li {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  padding-left: 5px;
  width: 100%;
  height: 74px;
  background: #fff;
  border-bottom: 1px solid #dde5f4;
}
#leftNav li:hover {
  background: #f8fbff;
}

#leftNav li.actived {
  background: #4891fc;
}
#leftNav li.actived a {
  background: #dbe9ff;
}

#leftNav li a {
  box-sizing: border-box;
  font-weight: 600;
  padding-left: 15px;
  line-height: 74px;
  color: #585858;
  text-align: left;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#leftNav li a:actived {
  background: #f3f7ff;
}

#leftNav li .prevIcon {
  background: url(../images/icon/file.png) no-repeat;
  display: inline-block;
  height: 25px;
  width: 20px;
  vertical-align: middle;
}
#leftNav li .sign-status {
  position: absolute;
  right: 0;
  top: 0;
  background-size: contain;
  height: 20px;
  width: 45px;
  background: url("../images/icon/sign_nofinish.png") no-repeat;
}
#leftNav li .sign-status.actived {
  background: url("../images/icon/sign_finish.png") no-repeat;
}

/*viewer*/
#netcasignpdf {
  /*width:100%;*/
  /* height: 750px; */
  height: 100vh;
  display: block;
}

.withLeftNav #netcasignpdf {
  overflow: hidden;
  float: right;
  width: calc(100% - 302px);
}

.openfile,
.verification,
.about,
.fullscreen,
.sign,
.zoomIn,
.zoomOut {
  width: 45px;
  height: 60px;
}
.pageUp,
.pageDown {
  width: 45px;
  height: 60px;
  padding: 0 3px;
}
.sidebar {
  width: 90px;
  height: 60px;
}
#pageNumber,
#numPages,
#scaleSelectContainer {
  /* margin-top: 20px; */
  color: #000;
}
#scaleSelect,
#scaleSelectContainer {
  min-width: 82px !important;
}
#pageNumber {
  margin-left: 20px;
  background: #fff;
}
#toolbarViewer,
#toolbarContainer {
  display: none;
  height: 75px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
#siderMenuBar {
  position: absolute;
  left: 0;
  top: 75px;
  bottom: 0;
  width: 50px;
  background-color: #f2f2f2;
  z-index: 200;
}

#siderMenuBar .sidebar_img {
  margin: 10px auto;
  display: block;
}

.seal_div {
  position: absolute;
  pointer-events: none;
}
.seal_div #seal_image {
  display: block;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
html[dir="ltr"] #toolbarViewerLeft > *,
html[dir="ltr"] #toolbarViewerRight > * {
  width: 65px;
  height: 75px;
  color: #60789e;
  margin-right: 10px;
}
html[dir="ltr"] .toolbarButton,
html[dir="ltr"] .overlayButton,
html[dir="ltr"] .dropdownToolbarButton,
html[dir="ltr"] .splitToolbarButton {
  margin: 0;
}
input#pageNumber.toolbarField.pageNumber {
  height: 36px;
  font-size: 16px;
  line-height: 24px;
  margin-left: 20px;
  border: 1px solid #bbb;
  border-radius: 4px;
}
span#numPages.toolbarLabel {
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 27px;
  margin-right: 12px;
}
span#scaleSelectContainer.dropdownToolbarButton {
  height: 30px;
  line-height: 20px;
  margin-left: 20px;
  margin-right: 0;
  background: #fff;
  padding: 6px;
  border: 1px solid #bbb;
  border-radius: 4px;
}
span#scaleSelectContainer.dropdownToolbarButton select {
  height: 30px;
}
#previous,
#next {
  width: 59px;
  height: 75px;
  color: #60789e;
  cursor: pointer;
  margin-right: 12px;
}
#sidebarContent {
  background-color: #d8d8d8;
}
#viewerContainer {
  background-color: #9d9d9d;
}
#viewerContainer {
  background-image: url("../images/icon/pic_netca_logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30%;
}
html[dir="ltr"] #toolbarViewerRight {
  float: left;
}
/* div#findbar.findbar.doorHanger {
  background: #95969d;
} */

div#findbar.findbar.doorHanger {
  background: #505158 !important;
  position: absolute;
  top: 71px;
  left: 166px;
  width: 820px;
  display: flex;
  height: 33px;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  color: white;
}

div#findbar.findbar.doorHanger .splitToolbarButton {
  margin-top: 2px;
}

#scaleSelect {
  padding-bottom: 0;
}
.withLeftNav #NetcaReaderAx {
  width: calc(100% - 302px);
}
#NetcaReaderAxTable tr td {
  padding: 10px;
}

/**验证信息*/
#netcasignedDataVerify {
  width: 100%;
  height: 45px;
  background: url("../images/icon/validationbar_bg.png");
  position: absolute;
  top: 75px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  border-top: 1px solid #949494;
  border-bottom: 1px solid #949494;
}
#netcasignedDataVerify span {
  line-height: 45px;
  font-size: 12px;
}
#netcasignedDataVerify .netcasignedDataVerify_l {
  float: left;
}
#netcasignedDataVerify .netcasignedDataVerify_r {
  float: right;
}
#netcasignedDataVerify .netcasignedDataVerify_l .netcainvalidIcon {
  padding-left: 20px;
}
#netcasignedDataVerify .netcasignedDataVerify_l .netcainvalidInfo {
  padding-left: 20px;
}
#netcasignedDataVerify .netcasignedDataVerify_r .netcainvalidBtn {
  padding-right: 20px;
}
#netcasignedDataVerify .netcasignedDataVerify_r .netcainvalidBtn input {
  border: none;
  padding: 3px 6px;
  /*background:url("../image/btn_nor.png") ;*/
  color: #60789e;
  cursor: pointer;
  font-size: 10px;
}
#netcasignedDataVerify .netcasignedDataVerify_r .netcainvalidClose {
  padding-right: 20px;
  cursor: pointer;
}

/*签名验证具体信息*/
#netcaDisplaySignedDataVerify {
  min-width: 200px;
  width: 18%;
  height: 84%;
  position: absolute;
  left: 0;
  top: 115px;
  background: #ebebeb;
  display: none;
}
#netcaDisplaySignedDataVerify .netcaDisplay {
  width: 86%;
  height: 100%;
  margin: auto;
}
.netcasignInfo {
  height: 90%;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #cfcfcf;
}
#netcaDisplaySignedDataVerify .netcasignState {
  position: relative;
  line-height: 50px;
  font-weight: bold;
  font-size: 14px;
}
#netcaDisplaySignedDataVerify .netcasignState span {
  position: absolute;
  right: 0;
}
.netcasubjectCN {
  margin-left: 6px;
  line-height: 20px;
  font-size: 12px;
}
.netcasubjectCN span {
  padding-right: 10px;
}
.netcasignContent {
  border: 1px solid #cfcfcf;
  background: #fafafa;
  border-radius: 2px;
}
.netcasignTip {
  position: relative;
  font-size: 12px;
}
.netcasignTip span {
  display: inline-block;
  line-height: 30px;
  padding-left: 10px;
  font-weight: bold;
}
.netcasignTip input {
  width: 60px;
  position: absolute;
  right: 10px;
  top: 3px;
  padding: 2px 5px;
  background: #f9f9f9;
  border: 1px solid #cfcfcf;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
}
.netcasignTip input:hover {
  background: #fafafa;
}
.netcasignTime {
  border-top: 1px solid #ebebeb;
  line-height: 20px;
  padding: 10px;
  color: #757575;
  font-size: 12px;
  display: none;
}
.netcasignTime p {
  margin-bottom: 5px;
}
.netcasignDetail {
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.netcasignDetail:hover {
  background: #e2eeff;
}
.name {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 4px dotted red;
  z-index: 99;
}
.netcafieldInfo {
  position: absolute;
}
.netcafieldInfo:hover {
  border: 4px dashed #71c5fa;
}
.vSealBox {
  position: absolute;
  border: 4px dashed #71c5fa;
}

.netcainvalidIcon img,
#netcaclose2 img,
.netcainvalidClose img {
  vertical-align: middle;
}

/**签章菜单*/
.netcasignmenu {
  width: 100px;
  display: none;
  position: absolute;
  top: 70px;
  left: 946px;
  z-index: 100;
}

.withLeftNav .netcasignmenu {
  left: 520px;
}

.netcasignmenu ul {
  width: 100px;
  overflow: hidden;
  border: 3px solid transparent;
  background-clip: content-box;
  -o-border-image: url("../images/icon/shadow.png") 5 5 repeat;
  border-image: url("../images/icon/shadow.png") 5 5 repeat;
  background-color: white;
}
.netcasignmenu ul li {
  line-height: 40px;
  text-align: left;
  padding-left: 20px;
  cursor: pointer;
  color: #333;
  font-size: 14px;
}
.netcasignmemuitem ul li {
  border-bottom: 1px solid #d3d4d3;
}
.netcasignmemuitem ul li:last-child {
  border-bottom: none;
}

/**获取源文件PDFbase64、签名后的PDFbase64*/
.netcapdfbase64 {
  margin: 20px;
}
.netcapdfbase64 table tr {
  line-height: 40px;
}
.netcapdfbase64 table tr textarea {
  padding: 10px;
}
.netcapdfbase64 table tr button {
  cursor: pointer;
  background: #1e9fff;
  color: #f2f2f2;
  border: none;
  padding: 3px 5px;
  box-sizing: content-box;
}

/**注释结构*/
.hideElement {
  display: none;
}

.file-box {
  position: relative;
  display: inline-block;
}
.file-box .file {
  width: 65px;
  height: 75px;
  position: absolute;
  top: 0;
  right: 0;
  filter: alpha(opacity: 0);
  opacity: 0;
  cursor: pointer;
  border: none;
  outline: none;
}
.file-box.pfxFile {
  padding: 0 !important;
}
.file-box button {
  width: 65px;
  height: 75px;
  color: #60789e;
  border: none;
  background: transparent;
  font-size: 12px;
}

#netcasignedDataVerify .netcasignedDataVerify_r .freeBtnOK input {
  border: none;
  padding: 3px 6px;
  /* background: url(../image/btn_nor.png); */
  color: #60789e;
  cursor: pointer;
  font-size: 10px;
}

#netcasignedDataVerify .netcasignedDataVerify_r .freeBtnNO input {
  border: none;
  padding: 3px 6px;
  /* background: url(../image/btn_nor.png); */
  color: #60789e;
  cursor: pointer;
  font-size: 10px;
  margin-right: 10px;
}

.layui-layer-loading {
  /* border-radius: 100%; */
  /* background: 0 0; */
  /* box-shadow: none; */
  border: none;
}
